target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath

*.log
.DS_Store

.env
.tooling/

# stray npm artifacts (this is a Java project)
node_modules/
package.json
package-lock.json
